.section-spacer {
  margin-top: 8vw;
  &:first-of-type {
    margin-top: 0;
  }
}
.section-spacer.section-spacer--large {
  margin-top: 10vw;
  &:first-of-type {
    margin-top: 0;
  }
}

.main-container {
  padding: 100px 0;
  &.main-container--not-home {
    padding-bottom: 0;
  }
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 5vw;
  top: 50%;
  left: -6rem;
  transform: translateY(-50%) rotate(-90deg);
  span {
    display: block;
    position: relative;
    width: 140px;
    height: 1px;
    margin: 0 32px;
    background-color: #000;
  }
  a {
    text-decoration: none;
    font-family: "Poppins";
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  a, span {
    display: inline-block;
    vertical-align: middle;
  }
  &.nav--not-home {
    left: -16rem;
  }
}



.hero-wrapper,
.project__hero-wrapper {
  display: flex;
  margin-top: 8vw;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.hero-info__wrapper {
  box-sizing: border-box;
  width: 50%;
  padding-right: rem(800);
  text-align: left;
  .project-container & {
    width: 60%;
  }
}


.hero-image__wrapper {
  position: relative;
  width: 40%;
  height: 0;
  padding-top: 40%;
}

.hero-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../public/assets/img/ed1.jpg");
  .project-container & {
    background-size: contain;
  }
}

//************************* RESPONSIVE ****************************//
@media (max-width: 1200px) {
  .home__project__extra-info {
    left: -8.5vw;
    .home__project-wrapper--reverse & {
      right: -8.5vw;
    }
  }
  .nav {
    left: -8rem;
  }
}

@media (max-width: 1100px) {
  .max-bound {
    margin: 0 auto;
    width: 70vw;
  }
  .hero-wrapper,
  .project__hero-wrapper {
    flex-wrap: wrap;
  }
  .home__project-info__wrapper {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .max-bound {
    width: 80vw;
  }
  .nav {
    left: -10rem;
  }
  .home__project__extra-info {
    left: -12vw;
    .home__project-wrapper--reverse & {
      right: -12vw;
    }
  }
}

@media (max-width: 800px) {
  .max-bound {
    width: 80vw;
  }
  header {
    position: relative;
    width: 100%;
    text-align: center;
    img.logo {
      position: relative;
      top: 0;
      left: auto;
      transform: none;
    }
  }
  .nav-menu__trigger {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 9999;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 4px;
      transform: translateX(-50%) translateY(-50%);
      background-color: $primary-color;
      transition: opacity .3s;
    }
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 80%;
      height: 4px;
      transform: translateX(0) translateY(0) rotate(0);
      background-color: $primary-color;
      transition: width .3s, transform .3s, top .3s, left .3s;
    }
    &::before {
      top: 0px;
    }
    &::after {
      bottom: 0px;
    }
    &:hover, &:focus {
      &::before, &::after {
        width: 100%;
      }
    }
  }
  .nav-menu__trigger.nav-menu__trigger--triggered {
    span {
      opacity: 0;
    }
    &::before {
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
    &::after {
      top: 50%;
      left: 50%;
      bottom: auto;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }
  }
  .nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    overflow: hidden;
    background-color: #f5f5f1;
    transition: transform .4s;
    z-index: 9998;
    &.nav--opened {
      transform: translateX(0);
    }
    span {
      display: none;
    }
    a {
      margin: 32px 0;
      font-size: 48px;
      font-weight: 600;
    }
  }
  .section-spacer.section-spacer--large {
    margin-top: 100px;
    &:first-of-type {
      margin-top: 100px;
    }
  }
  .hero-wrapper,
  .project__hero-wrapper {
    margin: 0 auto;
  }
  .hero-info__wrapper {
    width: 100%;
    margin-bottom: 32px;
    .project-container & {
      width: 100%;
    }
  }
  .home__project-wrapper {
    padding-left: 0;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    width: unset;
    &.home__project-wrapper--reverse {
      align-items: flex-start;
    }
  }
  .home__project-info__wrapper {
    position: relative;
    display: flex;
    text-align: left;
    right: auto;
    left: 0;
    width: 100%;
    h2 {
      width: 60%;
      line-height: 1.2;
    }
  }
  .home__project__extra-info {
    position: relative;
    transform: none;
    left: unset;
    right: unset;
    .home__project-wrapper.home__project-wrapper--reverse & {
      right: -20vw;
    }
  }
  .hero-image__wrapper {
    width: 100%;
    padding-top: 100%;
  }
  .home__project-image__wrapper {
    width: calc(100% + 10vw);
    margin-left: -10vw;
    padding-top: 70%;
  }
  .home__project-number__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    p {
      font-size: 30vw;
    }
  }
  .home__project-wrapper.home__project-wrapper--reverse {
    flex-direction: column-reverse;
    padding-right: 0;
    .home__project-image__wrapper {
      margin-left: auto;
      margin-right: -10vw;
    }
    .home__project-info__wrapper {
      right: 0;
      left: auto;
      text-align: right;
      justify-content: flex-end;
      h2 {
        text-align: right;
      }
    }
    .home__project-number__wrapper {
      left: 0;
      right: auto;
    }
    .home__project__extra-info {
      right: unset;
      left: unset;
    }
  }
}

@media (max-width: 600px) {
  .max-bound {
    width: 90vw;
  }
  .main-container {
    padding: 50px 0;
    padding-bottom: 100px;
  }
}

.router__wave-transition,
.router__wave-transition--looper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 99999;
  will-change: transform;
}

.router__wave-transition--looper {
  transform: translateY(100%);
}

.router__wave-transition.router__wave-transition--entering {
  animation-name: startingAnimation;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: forwards;
}

.router__wave-transition--looper.router__wave-transition--looper--looping {
  animation: routerWave 2s ease-in-out 0s;
  animation-direction: normal;
  opacity: 1;
}

@keyframes startingAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes routerWave {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
