body {
    margin: 0;
  }
  
  h1,
  p {
    color: $primary-color;
  }

  .about ul {
    list-style-type: circle;
    padding-inline-start: 40px;
    margin-top: 0;
  }
  .about .home__main-container {
    padding: 100px 0;
  }
  
  .about .hero-wrapper {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    p {
      opacity: 0;
      transform: translateY(25px);
      transition: opacity .7s, transform .5s;
      transition-delay: 1.5s;
      will-change: transform, opacity;
    }
    .animations--started & {
      p {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .numeration__wrapper{
        width: 25%;
        text-align: center;
    }
  }
  
  .about .hero-info__wrapper {
    box-sizing: border-box;
    width: 66%;
    margin-left: 8,3%;
    padding-right: rem(800);
    text-align: left;
  }
  .about .hero-wrapper, .about .project__hero-wrapper {
  display: flex;
  margin-top: 8vw;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
  .subsection-info__wrapper{
    position: relative;
    flex-wrap: nowrap;
    display: flex;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
  }
  .subsection-info__wrapper-hobbies{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
  }
  .m3{
    margin-top: 3vw;
}   
  .subsection-info__content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .subsection-hobbies__content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .about__images-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about__images-grid__image {
    position: relative;
    width: calc(50% - 12px);
    height: 0;
    padding-top: 35%;
    margin-bottom: 24px;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
  
  
  
  
  
  //// ANIMATIONS
  .title-animation {
    position: relative;
  }
  
  .title__wrapper {
    position: relative;
  }
  
  
  .title-animation {
    position: relative;
    opacity: 0;
  }
  
  .title-animation span span {
    display: inline-block;
    opacity: 0;
    transform: translateY(50%);
    transition: transform .3s ease-out, opacity .3s;
  }
  
  .animations--started .hero-info__wrapper .title-animation, .scrolled__to .home__project-info__wrapper .title-animation {
    opacity: 1;
    span span {
      opacity: 1;
      transform: translateY(0);
    } 
  }
  
  //************************* RESPONSIVE ****************************/
  @media (max-width: 1100px){
    .max-bound {
      margin: 0 auto;
      width: 70vw;
    }
    .about .hero-wrapper {
      flex-wrap: wrap; 
    }
  }
  @media (max-width: 1000px){
    
      .numeration__wrapper{
        width: 100%;
        text-align: left;
    }
    .about .hero-info__wrapper {
        box-sizing: border-box;
        width: 100%;
        margin-left: 8,3%;
        padding-right: rem(800);
        text-align: left;
      }
  }
  
  @media (max-width: 800px) {
    .max-bound {
      width: 80vw;
    }
    .subsection-info__content{
        width: 100%;
        margin-bottom: 3vw;
        margin-top: 3vw;
      }
      .subsection-info__wrapper{
        flex-wrap: wrap;
      }
      .subsection-hobbies__content{
        width: 100%;
      }
    .section-spacer.section-spacer--large {
      margin-top: 100px;
    }
    .about .hero-wrapper,.about .project__hero-wrapper {
      margin: 0 auto;
    }
    .about .hero-info__wrapper {
      width: 100%;
      margin-bottom: 32px;
    }
    }
@media (max-width: 700px){
    
      .numeration__wrapper{
        width: 100%;
        margin-top: 10%;
        text-align: left;
    }
    }
  
  