body {
  margin: 0;
}

h1,
p {
  color: $primary-color;
}

.hero-info__wrapper {
  box-sizing: border-box;
  width: 50%;
  text-align: left;
  p, h3, h2:not(.h1) {
    opacity: 0;
    transform: translateY(25px);
    transition: opacity .7s, transform .5s;
    transition-delay: 1.5s;
    will-change: transform, opacity;
  }
  .animations--started & {
    p, h3, h2:not(.h1) {
      opacity: 1;
      transform: translateY(0);
    }
  }
}


.home__project-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 15vw;
  padding-left: 80px;
  box-sizing: border-box;
}
.home__project__extra-info {
  position: absolute;
  top: 50%;
  left: -10.5vw;
  text-transform: uppercase;
  transform: translateY(-50%) rotate(270deg);
  .home__project-wrapper--reverse & {
    right: -10.5vw;
    left: unset;
  }
}
.home__project-router {
  &:hover, &:focus {
    .home__project-background-image {
      transform: rotate(5deg) scale(1.2);
    }
  }
}
.home__project-image__wrapper {
  position: relative;
  width: 68%;
  height: 0;
  padding-top: 40%;
  /* transition: clip-path .7s cubic-bezier(.74,.01,.32,1); */
}

.home__project-image__wrapper, .hero-image__wrapper {
  animation: project-preview-animation;
  animation-fill-mode: both;
  animation-duration: 1.4s;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;
  overflow: hidden;
  will-change: clip-path;
}

.scrolled__to {
  .home__project-image__wrapper, .hero-image__wrapper {
    animation-play-state: running;

  }
  .home__project-line {
    transform: scaleX(1);
  }
  .home__project-background-image, .hero-background-image {
    background-position: center;
  }
}

@keyframes project-preview-animation {
  0% {
    -webkit-clip-path: inset(0 99.8% 100% 0);
    clip-path: inset(0 99.8% 100% 0);
  }
  60% {
    -webkit-clip-path: inset(0 99.8% 0 0);
    clip-path: inset(0 99.8% 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

.home__project-background-image, .hero-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -200px center;
  transform: rotate(0) scale(1);
  transition: background-position .7s .9s ease, transform .5s ease-out;
  will-change: background-position, transform;
}
.home__project-info__wrapper{
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 5vw;
  width: 40%;
  text-align: right;
}
.home__project-number__wrapper{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.home__project-line{
  width: 35%;
  margin-right: 5%;
  border-bottom: 1px solid #000;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .8s 1s;
}

.home__project-wrapper.home__project-wrapper--reverse {
  flex-direction: row-reverse;
  padding-right: 80px;
  padding-left: 0;
  .home__project-info__wrapper {
    left: 5vw;
    right: unset;
    text-align: left;
  }
  .home__project-number__wrapper {
    flex-direction: row;
  }
}




//// ANIMATIONS
.title-animation {
  position: relative;
}

.title__wrapper {
  position: relative;
  .project-container & {
    width: 80%;
  }
}


.title-animation {
  position: relative;
  opacity: 0;
}

.title-animation span span {
  display: inline-block;
  opacity: 0;
  transform: translateY(50%);
  transition: transform .3s ease-out, opacity .3s;
}

.animations--started .hero-info__wrapper .title-animation, .scrolled__to .home__project-info__wrapper .title-animation {
  opacity: 1;
  span span {
    opacity: 1;
    transform: translateY(0);
  } 
}


//************************* RESPONSIVE ****************************//
@media (max-width: 1200px){
  .home__project__extra-info {
    left: -8.5vw;
    .home__project-wrapper--reverse & {
      right: -8.5vw;
    }
  }
}

@media (max-width: 1100px){
  .hero-wrapper, .project__hero-wrapper {
    flex-wrap: wrap; 
  }
  .home__project-info__wrapper{
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .home__project__extra-info {
    left: -12vw;
    .home__project-wrapper--reverse & {
      right: -12vw;
    }
  }
}

@media (max-width: 800px) {
  .hero-wrapper, .project__hero-wrapper {
    margin: 0 auto;
  }
  .hero-info__wrapper {
    width: 100%;
    margin-bottom: 32px;
  }
  .home__project-wrapper {
    padding-left: 0;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    width: unset;
    &.home__project-wrapper--reverse {
      align-items: flex-start;
    }
  }
  .home__project-info__wrapper {
    position: relative;
    display: flex;
    text-align: left;
    right: auto;
    left: 0;
    width: 100%;
    h2 {
      width: 60%;
      line-height: 1.2;
    }
  }
  .home__project__extra-info {
    position: relative;
    transform: none;
    left: unset;
    right: unset;
    .home__project-wrapper.home__project-wrapper--reverse & {
      right: -20vw;
    }
  }
  .hero-image__wrapper {
    width: 100%;
    padding-top: 100%;
  }
  .home__project-image__wrapper {
    width: calc(100% + 10vw);
    margin-left: -10vw;
    padding-top: 70%;
  }
  .home__project-number__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    p {
      font-size: 30vw;
    }
  }
  .home__project-wrapper.home__project-wrapper--reverse {
    flex-direction: column-reverse;
    padding-right: 0;
    .home__project-image__wrapper {
      margin-left: auto;
      margin-right: -10vw;
    }
    .home__project-info__wrapper {
      right: 0;
      left: auto;
      text-align: right;
      justify-content: flex-end;
      h2 {
        text-align: right;
      }
    }
    .home__project-number__wrapper {
      left: 0;
      right: auto;
    }
    .home__project__extra-info {
      right: unset;
      left: unset;
    }
  }
}

