.project {
  &__container {
    transition: opacity 0.3s;
    padding-top: 82px;
    transition: opacity 0.3s 0.4s;

    &--hidden {
      opacity: 0;
    }
  }

  &__content-section {
    margin: 64px 0;

    &--small-space {
      margin-top: 120px;
    }

    &--big-space {
      margin-top: 120px;
    }

    &:first-of-type {
      margin-top: 0;
    }

    &--centered {
      text-align: center;
    }
  }

  &__right-aligned {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    &--left {
      justify-content: flex-start;
    }
  }

  &__image {
    width: 100%;
    max-width: 664px;
    text-align: center;
    &--big {
      max-width: unset;
    }
  }

  &__right-content {
    width: 100%;
    max-width: 664px;
    flex-grow: 0;
    flex-shrink: 1;
  }

  &__main-image-wrapper {
    position: relative;
    width: 100%;
    height: 412px;
  }

  &__main-image {
    width: 664px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__title {
    line-height: (96 / 72);
    font-style: italic;

    &::after {
      content: '';
      display: block;
      position: relative;
      width: 100%;
      height: 1px;
      background-color: black;
      margin-top: 12px;
    }
  }

  &__content-divided {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    column-gap: 60px;
    flex-wrap: wrap;
    row-gap: 24px;
  }

  &__content-divided-block {
    flex: 1 1 300px;
  }

  &__content-challenge-text {
    &:first-of-type {
      margin-bottom: 16px;
    }
  }

  &__result-text {
    margin-bottom: 24px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__text-carousel-container {
    position: relative;
    width: 150vw;
    height: 100px;

    &:first-of-type {
      .project__text-carousel {
        left: -30vw;
      }
    }
  }

  &__text-carousel {
    position: absolute;
    display: flex;
    width: 100%;
    left: -75vw;
    gap: 40px;
  }

  &__text-carousel-phrase {
    position: relative;
    flex-shrink: 0;
    font-size: 64px;
    font-weight: 700;
    color: $background-color;
    -webkit-text-stroke: 1px #131313;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -23px;
      display: inline-block;
      vertical-align: middle;
      width: 6px;
      height: 6px;
      background-color: black;
      border-radius: 50%;
    }
  }

  &__navigation-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 80px;
    padding-top: 24px;
    border-top: 1px solid #131313;

    .project__navigation-link {
      position: relative;
      padding-left: 44px;

      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
      }

      &::after {
        width: 10px;
        height: 10px;
        border-width: 2px;
        border-color: #131313;
        border-right: 0;
        border-top: 0;
        border-style: solid;
        transform-origin: left bottom;
        transform: translateY(calc(-100% + 1px)) rotate(45deg);
      }
      
      &::before {
        width: 35px;
        height: 2px;
        background-color: #131313;
      }
      
      &:last-of-type {
        padding-left: 0;
        padding-right: 44px;
        
        &::before, &::after {
          left: auto;
          right: 0;
        }
        &::after {
          border-right: 2px solid;
          border-top: 0;
          border-bottom: 2px solid;
          border-left: 0;
          transform-origin: right bottom;
          transform: translateY(calc(-100% + 1px)) rotate(-45deg);
        }
      }
    }
  }
}
